<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".EasyReaderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EasyReader"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="book"
                    android:scheme="easyreader" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.reader.ReaderActivity"
            android:exported="false" />
    </application>
</manifest>
